<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <title>Cocos Creator | sg-full-stack</title>

    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,minimum-scale=1,maximum-scale=1,minimal-ui=true"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="full-screen" content="yes"/>
    <meta name="screen-orientation" content="portrait"/>
    <meta name="x5-fullscreen" content="true"/>
    <meta name="360-fullscreen" content="true"/>
    
    <meta name="renderer" content="webkit"/>
    <meta name="force-rendering" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <link rel="icon" href="favicon.ico"/>
  </head>
  <body>
    <h1 class="header">sg-full-stack</h1>

    <div id="GameDiv" style="width: 1440px; height: 900px;">
      <div id="Cocos3dGameContainer">
        <canvas id="GameCanvas" width="1440" height="900"></canvas>
      </div>
    </div>
    <p class="footer">
      Created with <a href="https://www.cocos.com/products" title="Cocos Creator">Cocos Creator</a>
    </p>
    <!-- Polyfills bundle. -->
<script src="src/polyfills.bundle.js" charset="utf-8"> </script>

<!-- SystemJS support. -->
<script src="src/system.bundle.js" charset="utf-8"> </script>

<!-- Import map -->
<script src="src/import-map.json" type="systemjs-importmap" charset="utf-8"> </script>

<script>
    System.import('./index.js').catch(function(err) { console.error(err); })
</script>

<%- include(cocosTemplate, {}) %>

<script type="text/javascript">
  function GetMainUrl(){
    var url=document.URL
    if(url.indexOf("?")!=-1){
      url=url.split("?")[0];
    }
    return url;
  }

  function GetRequest() {  
    var url = location.search; //获取url中包含"?"符以及其后的字串 
    console.log("getRequest:"+url);
    var theRequest = new Object();  
    if (url.indexOf("?") != -1) {  
      var str = url.substr(1);  
      strs = str.split("&");  
      for(var i = 0; i < strs.length; i ++) {  
          theRequest[strs[i].split("=")[0]]=unescape(strs[i].split("=")[1]);  
      }  
    }  
    else
    {
      return "";
    }
    return theRequest;  
  } 
</script>

<script type="text/javascript">
  ( 
  function () {
      localStorage.setItem("mainURL",GetMainUrl());
    
    var url=document.URL;
    console.log("url:"+url);
    //var url2=decodeURI(url);
    //console.log("url2:"+url2);
    
    var url2=GetRequest();
    if(url2!="")
    {
      console.log("url2"+url2);
      console.log("url2.diy"+	url2.diy);
      
      localStorage.setItem("diy",1);
      localStorage.setItem("diyJson",url2.diy);
      var walletAddress = location.search;
      walletAddress = walletAddress.replace("?","");
      localStorage.setItem('walletAddress',walletAddress);
      console.log("wallet", walletAddress);
  }
  else
  {
  console.log("无透传参数");
  localStorage.setItem("diy",0)
  }
  }
  )();
</script>

  </body>
</html>
