<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>daogarden/Discord.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,554},{17,14}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{17,14}}</string>
                <key>sourceSize</key>
                <string>{17,16}</string>
            </dict>
            <key>daogarden/Mirror.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,271},{7,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{7,10}}</string>
                <key>sourceSize</key>
                <string>{17,16}</string>
            </dict>
            <key>daogarden/Website.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,147},{11,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{11,12}}</string>
                <key>sourceSize</key>
                <string>{17,16}</string>
            </dict>
            <key>daogarden/Wechat.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,176},{12,10}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{12,10}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>daogarden/baiyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,658},{25,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,24}}</string>
                <key>sourceSize</key>
                <string>{25,24}</string>
            </dict>
            <key>daogarden/bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,87},{271,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,180}}</string>
                <key>sourceSize</key>
                <string>{271,180}</string>
            </dict>
            <key>daogarden/close.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,742},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{28,28}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>daogarden/coffee.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,629},{25,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,24}}</string>
                <key>sourceSize</key>
                <string>{25,24}</string>
            </dict>
            <key>daogarden/columnOffFocus.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,893},{128,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{128,34}}</string>
                <key>sourceSize</key>
                <string>{130,34}</string>
            </dict>
            <key>daogarden/columnOnFocus.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,893},{126,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,30}}</string>
                <key>sourceSize</key>
                <string>{126,30}</string>
            </dict>
            <key>daogarden/contentBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,91},{42,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,35}}</string>
                <key>sourceSize</key>
                <string>{42,35}</string>
            </dict>
            <key>daogarden/contentHoriBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,67},{610,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{610,40}}</string>
                <key>sourceSize</key>
                <string>{610,40}</string>
            </dict>
            <key>daogarden/eva.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,687},{25,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,24}}</string>
                <key>sourceSize</key>
                <string>{25,24}</string>
            </dict>
            <key>daogarden/gotoBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,742},{145,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,30}}</string>
                <key>sourceSize</key>
                <string>{145,30}</string>
            </dict>
            <key>daogarden/kc.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,804},{25,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,24}}</string>
                <key>sourceSize</key>
                <string>{25,24}</string>
            </dict>
            <key>daogarden/projectBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,259},{178,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,148}}</string>
                <key>sourceSize</key>
                <string>{178,148}</string>
            </dict>
            <key>daogarden/rebecca.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,561},{25,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,24}}</string>
                <key>sourceSize</key>
                <string>{25,24}</string>
            </dict>
            <key>daogarden/ricy.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,533},{25,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,24}}</string>
                <key>sourceSize</key>
                <string>{25,24}</string>
            </dict>
            <key>daogarden/rightArrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,1005},{14,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,8},{14,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>daogarden/roadmap.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,111},{32,192}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,192}}</string>
                <key>sourceSize</key>
                <string>{36,192}</string>
            </dict>
            <key>daogarden/roleBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,294},{70,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,14}}</string>
                <key>sourceSize</key>
                <string>{70,14}</string>
            </dict>
            <key>daogarden/scrollBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,532},{6,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,115}}</string>
                <key>sourceSize</key>
                <string>{6,115}</string>
            </dict>
            <key>daogarden/seedao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,893},{108,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,147}}</string>
                <key>sourceSize</key>
                <string>{108,147}</string>
            </dict>
            <key>daogarden/seedao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,629},{108,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,147}}</string>
                <key>sourceSize</key>
                <string>{108,147}</string>
            </dict>
            <key>daogarden/seedao3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,742},{108,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,147}}</string>
                <key>sourceSize</key>
                <string>{108,147}</string>
            </dict>
            <key>daogarden/seedao4.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,575},{108,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,147}}</string>
                <key>sourceSize</key>
                <string>{108,147}</string>
            </dict>
            <key>daogarden/seedao5.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,463},{108,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,147}}</string>
                <key>sourceSize</key>
                <string>{108,147}</string>
            </dict>
            <key>daogarden/seedaoLogoRound.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,382},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>daogarden/sloth.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,505},{25,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,24}}</string>
                <key>sourceSize</key>
                <string>{25,24}</string>
            </dict>
            <key>daogarden/socialLogoBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,3},{60,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,20}}</string>
                <key>sourceSize</key>
                <string>{60,20}</string>
            </dict>
            <key>daogarden/topBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{700,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,60}}</string>
                <key>sourceSize</key>
                <string>{700,60}</string>
            </dict>
            <key>daogarden/twitter.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,162},{12,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{12,10}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>daogarden/tx.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,477},{25,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,24}}</string>
                <key>sourceSize</key>
                <string>{25,24}</string>
            </dict>
            <key>main/35356CRect.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,572},{48,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,16}}</string>
                <key>sourceSize</key>
                <string>{48,16}</string>
            </dict>
            <key>main/504E77Rect.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,147},{180,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,108}}</string>
                <key>sourceSize</key>
                <string>{180,108}</string>
            </dict>
            <key>main/Ellipse 26.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,318},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>main/Ellipse 7 (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{967,285},{6,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,6}}</string>
                <key>sourceSize</key>
                <string>{6,6}</string>
            </dict>
            <key>main/Ellipse 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,1005},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>main/Rectangle 1282.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,312},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>main/Rectangle 1287.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,130},{259,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,40}}</string>
                <key>sourceSize</key>
                <string>{259,40}</string>
            </dict>
            <key>main/Rectangle 1288.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,166},{76,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,48}}</string>
                <key>sourceSize</key>
                <string>{76,48}</string>
            </dict>
            <key>main/calendar.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,491},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>main/chartSample.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,395},{259,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,133}}</string>
                <key>sourceSize</key>
                <string>{259,133}</string>
            </dict>
            <key>main/chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,484},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>main/chatBlock.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,271},{260,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,120}}</string>
                <key>sourceSize</key>
                <string>{260,120}</string>
            </dict>
            <key>main/chatEnterBox.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,3},{290,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,80}}</string>
                <key>sourceSize</key>
                <string>{290,80}</string>
            </dict>
            <key>main/chatHoriStroke.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,166},{262,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,9},{262,2}}</string>
                <key>sourceSize</key>
                <string>{290,20}</string>
            </dict>
            <key>main/chatScrollBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,154},{8,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,80}}</string>
                <key>sourceSize</key>
                <string>{8,80}</string>
            </dict>
            <key>main/chatSend.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,532},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{18,18}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>main/chatToBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,742},{140,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,40}}</string>
                <key>sourceSize</key>
                <string>{140,40}</string>
            </dict>
            <key>main/checkmark.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,455},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{18,18}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>main/checkmarkBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,294},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>main/close.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,629},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{30,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>main/closeBig.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,687},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{44,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>main/contact.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,354},{32,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{32,24}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>main/downArrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,202},{12,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{12,8}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>main/emoji.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,433},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{18,18}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>main/halfRectangle.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,543},{343,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{343,28}}</string>
                <key>sourceSize</key>
                <string>{343,28}</string>
            </dict>
            <key>main/hide.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,1005},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{14,14}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>main/importantBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,260},{90,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,30}}</string>
                <key>sourceSize</key>
                <string>{90,30}</string>
            </dict>
            <key>main/location.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,629},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>main/meeting.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,687},{24,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{24,28}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>main/micMute.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,742},{24,26}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{24,26}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>main/modifyBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,716},{24,22}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{24,22}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>main/nftSample.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,1005},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>main/poapSample.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,418},{50,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,48}}</string>
                <key>sourceSize</key>
                <string>{50,48}</string>
            </dict>
            <key>main/priceBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,1005},{47,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,16}}</string>
                <key>sourceSize</key>
                <string>{47,16}</string>
            </dict>
            <key>main/registerBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,411},{154,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,48}}</string>
                <key>sourceSize</key>
                <string>{154,48}</string>
            </dict>
            <key>main/rightArrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,214},{8,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{8,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>main/roleBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,470},{50,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,17}}</string>
                <key>sourceSize</key>
                <string>{50,17}</string>
            </dict>
            <key>main/search.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,1005},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{16,16}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>main/seedaoLogo.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,374},{51,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,40}}</string>
                <key>sourceSize</key>
                <string>{51,40}</string>
            </dict>
            <key>main/setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,774},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{26,26}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>main/sgLogo.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,67},{83,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,83}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>main/shareScreen.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,806},{28,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{28,24}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>main/show.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,190},{12,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{12,8}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>main/smallEllipse.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,411},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>main/task.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,774},{28,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,7},{28,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>main/transparentBgRectangle.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,393},{345,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{345,54}}</string>
                <key>sourceSize</key>
                <string>{345,54}</string>
            </dict>
            <key>main/uncheckmark.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,67},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>main/unimportantBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,226},{90,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,30}}</string>
                <key>sourceSize</key>
                <string>{90,30}</string>
            </dict>
            <key>main/videoMute.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,838},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{26,26}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>main/wallet.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,432},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>miniPublicSpaceRoom.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,370},{410,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{410,255}}</string>
                <key>sourceSize</key>
                <string>{410,255}</string>
            </dict>
            <key>miniSeeDAORoom.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,111},{410,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{410,255}}</string>
                <key>sourceSize</key>
                <string>{410,255}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIAtlas.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:52102fd229b140b15d7f63791bc129d8$</string>
            <key>textureFileName</key>
            <string>UIAtlas.png</string>
        </dict>
    </dict>
</plist>
