<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>daogarden/Discord.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,57},{17,14}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{17,14}}</string>
                <key>sourceSize</key>
                <string>{17,16}</string>
            </dict>
            <key>daogarden/Mirror.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,2038},{7,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{7,10}}</string>
                <key>sourceSize</key>
                <string>{17,16}</string>
            </dict>
            <key>daogarden/Website.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,2020},{11,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{11,12}}</string>
                <key>sourceSize</key>
                <string>{17,16}</string>
            </dict>
            <key>daogarden/Wechat.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2020},{12,10}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{12,10}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>daogarden/baiyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,686},{25,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,24}}</string>
                <key>sourceSize</key>
                <string>{25,24}</string>
            </dict>
            <key>daogarden/bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,845},{271,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,180}}</string>
                <key>sourceSize</key>
                <string>{271,180}</string>
            </dict>
            <key>daogarden/close.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,1988},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{28,28}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>daogarden/coffee.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,657},{25,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,24}}</string>
                <key>sourceSize</key>
                <string>{25,24}</string>
            </dict>
            <key>daogarden/columnOffFocus.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,1885},{128,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{128,34}}</string>
                <key>sourceSize</key>
                <string>{130,34}</string>
            </dict>
            <key>daogarden/columnOnFocus.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,1316},{126,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,30}}</string>
                <key>sourceSize</key>
                <string>{126,30}</string>
            </dict>
            <key>daogarden/contentBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,797},{42,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,35}}</string>
                <key>sourceSize</key>
                <string>{42,35}</string>
            </dict>
            <key>daogarden/contentHoriBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,1854},{610,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{610,40}}</string>
                <key>sourceSize</key>
                <string>{610,40}</string>
            </dict>
            <key>daogarden/eva.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,628},{25,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,24}}</string>
                <key>sourceSize</key>
                <string>{25,24}</string>
            </dict>
            <key>daogarden/gotoBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,1282},{145,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,30}}</string>
                <key>sourceSize</key>
                <string>{145,30}</string>
            </dict>
            <key>daogarden/kc.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,599},{25,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,24}}</string>
                <key>sourceSize</key>
                <string>{25,24}</string>
            </dict>
            <key>daogarden/projectBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,55},{178,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,148}}</string>
                <key>sourceSize</key>
                <string>{178,148}</string>
            </dict>
            <key>daogarden/rebecca.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,570},{25,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,24}}</string>
                <key>sourceSize</key>
                <string>{25,24}</string>
            </dict>
            <key>daogarden/ricy.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,541},{25,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,24}}</string>
                <key>sourceSize</key>
                <string>{25,24}</string>
            </dict>
            <key>daogarden/rightArrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,741},{14,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,8},{14,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>daogarden/roadmap.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,2002},{32,192}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,192}}</string>
                <key>sourceSize</key>
                <string>{36,192}</string>
            </dict>
            <key>daogarden/roleBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,238},{70,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,14}}</string>
                <key>sourceSize</key>
                <string>{70,14}</string>
            </dict>
            <key>daogarden/scrollBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1015,845},{6,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,115}}</string>
                <key>sourceSize</key>
                <string>{6,115}</string>
            </dict>
            <key>daogarden/seedao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,685},{108,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,147}}</string>
                <key>sourceSize</key>
                <string>{108,147}</string>
            </dict>
            <key>daogarden/seedao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,573},{108,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,147}}</string>
                <key>sourceSize</key>
                <string>{108,147}</string>
            </dict>
            <key>daogarden/seedao3.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,461},{108,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,147}}</string>
                <key>sourceSize</key>
                <string>{108,147}</string>
            </dict>
            <key>daogarden/seedao4.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,349},{108,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,147}}</string>
                <key>sourceSize</key>
                <string>{108,147}</string>
            </dict>
            <key>daogarden/seedao5.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,237},{108,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,147}}</string>
                <key>sourceSize</key>
                <string>{108,147}</string>
            </dict>
            <key>daogarden/seedaoLogoRound.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,2002},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>daogarden/sloth.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,512},{25,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,24}}</string>
                <key>sourceSize</key>
                <string>{25,24}</string>
            </dict>
            <key>daogarden/socialLogoBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,781},{60,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,20}}</string>
                <key>sourceSize</key>
                <string>{60,20}</string>
            </dict>
            <key>daogarden/topBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,1316},{700,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,60}}</string>
                <key>sourceSize</key>
                <string>{700,60}</string>
            </dict>
            <key>daogarden/twitter.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2020},{12,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{12,10}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>daogarden/tx.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,483},{25,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,24}}</string>
                <key>sourceSize</key>
                <string>{25,24}</string>
            </dict>
            <key>main/28264FRect.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,1232},{178,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,46}}</string>
                <key>sourceSize</key>
                <string>{178,46}</string>
            </dict>
            <key>main/28264FRectNoShadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,1898},{80,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,100}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>main/35356CRect.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,75},{48,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,16}}</string>
                <key>sourceSize</key>
                <string>{48,16}</string>
            </dict>
            <key>main/504E77Rect.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,1120},{180,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,108}}</string>
                <key>sourceSize</key>
                <string>{180,108}</string>
            </dict>
            <key>main/8175C1Rect.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,1614},{80,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,100}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>main/Ellipse 26.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,1974},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>main/Ellipse 7 (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{1015,964},{6,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,6}}</string>
                <key>sourceSize</key>
                <string>{6,6}</string>
            </dict>
            <key>main/Ellipse 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,218},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>main/R01.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,1898},{48,70}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{48,70}}</string>
                <key>sourceSize</key>
                <string>{48,72}</string>
            </dict>
            <key>main/R02.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,1985},{48,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,72}}</string>
                <key>sourceSize</key>
                <string>{48,72}</string>
            </dict>
            <key>main/R03.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,1698},{46,66}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{46,66}}</string>
                <key>sourceSize</key>
                <string>{48,72}</string>
            </dict>
            <key>main/R04.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,1885},{48,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,72}}</string>
                <key>sourceSize</key>
                <string>{48,72}</string>
            </dict>
            <key>main/R05.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,1985},{48,70}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{48,70}}</string>
                <key>sourceSize</key>
                <string>{48,72}</string>
            </dict>
            <key>main/R06.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,1938},{46,72}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{46,72}}</string>
                <key>sourceSize</key>
                <string>{48,72}</string>
            </dict>
            <key>main/Rectangle 1282.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,1748},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>main/Rectangle 1287.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,1591},{259,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,40}}</string>
                <key>sourceSize</key>
                <string>{259,40}</string>
            </dict>
            <key>main/Rectangle 1288.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,1862},{76,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,48}}</string>
                <key>sourceSize</key>
                <string>{76,48}</string>
            </dict>
            <key>main/bigLocationMark.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,1942},{28,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{28,34}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>main/calendar.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,1898},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>main/chartSample.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,1591},{259,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,133}}</string>
                <key>sourceSize</key>
                <string>{259,133}</string>
            </dict>
            <key>main/chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,1950},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>main/chatBlock.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,1350},{260,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,120}}</string>
                <key>sourceSize</key>
                <string>{260,120}</string>
            </dict>
            <key>main/chatEnterBox.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,1591},{290,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,80}}</string>
                <key>sourceSize</key>
                <string>{290,80}</string>
            </dict>
            <key>main/chatHoriStroke.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,55},{262,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,9},{262,2}}</string>
                <key>sourceSize</key>
                <string>{290,20}</string>
            </dict>
            <key>main/chatScrollBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1013,1232},{8,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,80}}</string>
                <key>sourceSize</key>
                <string>{8,80}</string>
            </dict>
            <key>main/chatSend.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,2020},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{18,18}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>main/chatToBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,1898},{140,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,40}}</string>
                <key>sourceSize</key>
                <string>{140,40}</string>
            </dict>
            <key>main/checkmark.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,2020},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{18,18}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>main/checkmarkBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,821},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>main/close.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,2010},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{30,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>main/closeBig.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,797},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{44,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>main/contact.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,321},{32,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{32,24}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>main/contactSample.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,1282},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>main/downArrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,2036},{12,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{12,8}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>main/emoji.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,2020},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{18,18}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>main/grayBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1591},{394,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,30}}</string>
                <key>sourceSize</key>
                <string>{394,30}</string>
            </dict>
            <key>main/halfRectangle.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,1591},{343,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{343,28}}</string>
                <key>sourceSize</key>
                <string>{343,28}</string>
            </dict>
            <key>main/hide.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,2020},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{14,14}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>main/importantBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,1591},{90,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,30}}</string>
                <key>sourceSize</key>
                <string>{90,30}</string>
            </dict>
            <key>main/location.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,2002},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>main/meeting.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,357},{24,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{24,28}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>main/micMute.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,453},{24,26}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{24,26}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>main/modifyBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,715},{24,22}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{24,22}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>main/nftSample.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,198},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>main/poapSample.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,1810},{50,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,48}}</string>
                <key>sourceSize</key>
                <string>{50,48}</string>
            </dict>
            <key>main/priceBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,127},{47,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,16}}</string>
                <key>sourceSize</key>
                <string>{47,16}</string>
            </dict>
            <key>main/registerBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,3},{154,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,48}}</string>
                <key>sourceSize</key>
                <string>{154,48}</string>
            </dict>
            <key>main/rightArrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,2036},{8,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{8,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>main/roleBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,3},{50,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,17}}</string>
                <key>sourceSize</key>
                <string>{50,17}</string>
            </dict>
            <key>main/search.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,178},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{16,16}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>main/seedaoLogo.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,797},{51,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,40}}</string>
                <key>sourceSize</key>
                <string>{51,40}</string>
            </dict>
            <key>main/setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,1989},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{26,26}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>main/sgLogo.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,1898},{83,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,83}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>main/shareScreen.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,421},{28,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{28,24}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>main/show.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,2036},{12,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{12,8}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>main/smallEllipse.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,2020},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>main/smallLocationMark.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,759},{18,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{18,22}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>main/task.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,389},{28,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,7},{28,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>main/transparentBgRectangle.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,1698},{345,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{345,54}}</string>
                <key>sourceSize</key>
                <string>{345,54}</string>
            </dict>
            <key>main/uncheckmark.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,797},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>main/unimportantBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,1942},{90,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,30}}</string>
                <key>sourceSize</key>
                <string>{90,30}</string>
            </dict>
            <key>main/videoMute.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1989},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{26,26}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>main/wallet.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,1898},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>miniPublicSpaceRoom.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{839,790}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{839,790}}</string>
                <key>sourceSize</key>
                <string>{839,790}</string>
            </dict>
            <key>miniSeeDAORoom.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,797},{824,790}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{824,790}}</string>
                <key>sourceSize</key>
                <string>{824,790}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIAtlas.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2a68f8fc56279b5b60081a4bb35d7409$</string>
            <key>textureFileName</key>
            <string>UIAtlas.png</string>
        </dict>
    </dict>
</plist>
