<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>daogarden/Discord.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,1002},{17,14}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{17,14}}</string>
                <key>sourceSize</key>
                <string>{17,16}</string>
            </dict>
            <key>daogarden/Mirror.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,303},{7,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{7,10}}</string>
                <key>sourceSize</key>
                <string>{17,16}</string>
            </dict>
            <key>daogarden/Website.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,436},{11,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{11,12}}</string>
                <key>sourceSize</key>
                <string>{17,16}</string>
            </dict>
            <key>daogarden/Wechat.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,468},{12,10}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{12,10}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>daogarden/baiyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,408},{25,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,24}}</string>
                <key>sourceSize</key>
                <string>{25,24}</string>
            </dict>
            <key>daogarden/bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,87},{271,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,180}}</string>
                <key>sourceSize</key>
                <string>{271,180}</string>
            </dict>
            <key>daogarden/close.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,809},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{28,28}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>daogarden/coffee.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,382},{25,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,24}}</string>
                <key>sourceSize</key>
                <string>{25,24}</string>
            </dict>
            <key>daogarden/columnOffFocus.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,809},{128,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{128,34}}</string>
                <key>sourceSize</key>
                <string>{130,34}</string>
            </dict>
            <key>daogarden/columnOnFocus.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,809},{126,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,30}}</string>
                <key>sourceSize</key>
                <string>{126,30}</string>
            </dict>
            <key>daogarden/contentBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,89},{42,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,35}}</string>
                <key>sourceSize</key>
                <string>{42,35}</string>
            </dict>
            <key>daogarden/contentHoriBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,67},{610,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{610,40}}</string>
                <key>sourceSize</key>
                <string>{610,40}</string>
            </dict>
            <key>daogarden/eva.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,406},{25,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,24}}</string>
                <key>sourceSize</key>
                <string>{25,24}</string>
            </dict>
            <key>daogarden/gotoBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,809},{145,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,30}}</string>
                <key>sourceSize</key>
                <string>{145,30}</string>
            </dict>
            <key>daogarden/kc.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,380},{25,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,24}}</string>
                <key>sourceSize</key>
                <string>{25,24}</string>
            </dict>
            <key>daogarden/projectBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,147},{178,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,148}}</string>
                <key>sourceSize</key>
                <string>{178,148}</string>
            </dict>
            <key>daogarden/rebecca.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,354},{25,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,24}}</string>
                <key>sourceSize</key>
                <string>{25,24}</string>
            </dict>
            <key>daogarden/ricy.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,378},{25,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,24}}</string>
                <key>sourceSize</key>
                <string>{25,24}</string>
            </dict>
            <key>daogarden/rightArrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,1002},{14,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,8},{14,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>daogarden/roadmap.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,111},{32,192}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,192}}</string>
                <key>sourceSize</key>
                <string>{36,192}</string>
            </dict>
            <key>daogarden/roleBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,147},{70,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,14}}</string>
                <key>sourceSize</key>
                <string>{70,14}</string>
            </dict>
            <key>daogarden/scrollBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,317},{6,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,115}}</string>
                <key>sourceSize</key>
                <string>{6,115}</string>
            </dict>
            <key>daogarden/seedao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,851},{108,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,147}}</string>
                <key>sourceSize</key>
                <string>{108,147}</string>
            </dict>
            <key>daogarden/seedao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,851},{108,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,147}}</string>
                <key>sourceSize</key>
                <string>{108,147}</string>
            </dict>
            <key>daogarden/seedao3.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,851},{108,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,147}}</string>
                <key>sourceSize</key>
                <string>{108,147}</string>
            </dict>
            <key>daogarden/seedao4.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,851},{108,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,147}}</string>
                <key>sourceSize</key>
                <string>{108,147}</string>
            </dict>
            <key>daogarden/seedao5.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,851},{108,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,147}}</string>
                <key>sourceSize</key>
                <string>{108,147}</string>
            </dict>
            <key>daogarden/seedaoLogoRound.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,809},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>daogarden/sloth.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,352},{25,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,24}}</string>
                <key>sourceSize</key>
                <string>{25,24}</string>
            </dict>
            <key>daogarden/socialLogoBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,3},{60,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,20}}</string>
                <key>sourceSize</key>
                <string>{60,20}</string>
            </dict>
            <key>daogarden/topBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{700,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,60}}</string>
                <key>sourceSize</key>
                <string>{700,60}</string>
            </dict>
            <key>daogarden/twitter.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,452},{12,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{12,10}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>daogarden/tx.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,326},{25,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,24}}</string>
                <key>sourceSize</key>
                <string>{25,24}</string>
            </dict>
            <key>main/Ellipse 26.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,809},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>main/Ellipse 7 (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{962,484},{6,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,6}}</string>
                <key>sourceSize</key>
                <string>{6,6}</string>
            </dict>
            <key>main/Ellipse 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,1002},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>main/Rectangle 1282.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,535},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>main/Rectangle 1287.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,128},{259,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,40}}</string>
                <key>sourceSize</key>
                <string>{259,40}</string>
            </dict>
            <key>main/Rectangle 1288.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,166},{76,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,48}}</string>
                <key>sourceSize</key>
                <string>{76,48}</string>
            </dict>
            <key>main/calendar.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,270},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>main/chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,218},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>main/chatBlock.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,271},{260,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,120}}</string>
                <key>sourceSize</key>
                <string>{260,120}</string>
            </dict>
            <key>main/chatEnterBox.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,3},{290,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,80}}</string>
                <key>sourceSize</key>
                <string>{290,80}</string>
            </dict>
            <key>main/chatHoriStroke.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,166},{262,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,9},{262,2}}</string>
                <key>sourceSize</key>
                <string>{290,20}</string>
            </dict>
            <key>main/chatScrollBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,154},{8,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,80}}</string>
                <key>sourceSize</key>
                <string>{8,80}</string>
            </dict>
            <key>main/chatSend.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1002},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{18,18}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>main/chatToBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,391},{140,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,40}}</string>
                <key>sourceSize</key>
                <string>{140,40}</string>
            </dict>
            <key>main/close.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,809},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{30,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>main/contact.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,809},{32,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{32,24}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>main/downArrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,287},{12,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{12,8}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>main/emoji.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,67},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{18,18}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>main/location.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,282},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>main/meeting.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,218},{24,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{24,28}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>main/micMute.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,350},{24,26}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{24,26}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>main/registerBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,641},{154,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,48}}</string>
                <key>sourceSize</key>
                <string>{154,48}</string>
            </dict>
            <key>main/rightArrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,271},{8,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{8,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>main/seedaoLogo.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,597},{51,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,40}}</string>
                <key>sourceSize</key>
                <string>{51,40}</string>
            </dict>
            <key>main/sgLogo.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,67},{83,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,83}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>main/shareScreen.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,322},{28,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{28,24}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>main/task.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,250},{28,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,7},{28,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>main/videoMute.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,322},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{26,26}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>main/wallet.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,799},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>miniPublicSpaceRoom.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,395},{410,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{410,255}}</string>
                <key>sourceSize</key>
                <string>{410,255}</string>
            </dict>
            <key>miniSeeDAORoom.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,111},{410,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{410,255}}</string>
                <key>sourceSize</key>
                <string>{410,255}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIAtlas.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0495df0786c1002b9fe9e38f22873ed7$</string>
            <key>textureFileName</key>
            <string>UIAtlas.png</string>
        </dict>
    </dict>
</plist>
